{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
  <div class="container">
    <div class="returning_customer">
      <div class="check_title">
        <h2>
          Returning Customer?
          <a href="#">Click here to login</a>
        </h2>
      </div>
      <p>
        Thanks For Using eiser !
      </p>
   
      
      </form>
    </div>

      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
{% endblock %}