{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<style>
.pagination {
  display: inline-block;
  margin-left: 48%
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

</style>
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Shop Category</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="category.html">Shop</a>
              <a href="category.html">Women Fashion</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Category Product Area =================-->
        <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="product_top_bar">
              <div class="left_dorp">
                <select class="sorting">
                  <option value="1">Default sorting</option>
                  <option value="2">Default sorting 01</option>
                  <option value="4">Default sorting 02</option>
                </select>
                <select class="show">
                  <option value="1">Show 12</option>
                  <option value="2">Show 14</option>
                  <option value="4">Show 16</option>
                </select>
              </div>
            </div>

            <div class="latest_product_inner">
              <div class="row">


                {% for product in products %}
                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                  <img
                          alt=""
                          class="card-img"
                          src="{% if product.image %} {{ product.image.url }}{% else %} {% static 'noimage.jpg' %} {% endif %}"
                      />
                      <div class="p_icon">
                        <a href="{{ product.get_absolute_url }}">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>{{product.name}}</h4>
                      </a>
                      <div class="mt-3">
                        {% if product.sale_price %}
                        <span class="mr-4">${{product.sale_price}}</span>
                        <del>${{product.price}}</del>
                        {% else %}
                        <span class="mr-4">${{product.price}}</span>
                        {% endif %}
                      </div>

                    </div>
                  </div>
                </div>
                {% endfor %}







              </div>

            </div>
          </div>

          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Browse Categories</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    <li>
                      <a href="{% url 'shopy:shop' %}">All</a>
                    </li>
                    {% for cc in categories %}
                    <li>
                      <a href="{{cc.get_absolute_url}}">{{cc}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </aside>

              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Product Brand</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    {% for brand in brands%}
                    <li>
                      <a href="#">{{brand}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </aside>


              <aside class="left_widgets p_filter_widgets">

                <div class="widgets_inner">
                  <div class="range_item">
                    <div id="slider-range"></div>

                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Category Product Area =================-->

       {% if items.has_other_pages %}
      <div class="pagination" >
      {% if items.has_previous %}
        <a href="?page={{items.previous_page_number}}">&laquo;</a>
      {% endif %}

      {% for i in items.paginator.page_range %}
        <a href="?page={{i}}" onclick="class="active"">{{i}}</a>

      {% endfor %}

      {% if items.has_next %}
        <a href="?page={{items.next_page_number}}">&raquo;</a>
      {% endif %}
      </div>
      {% endif %}

    <!--================End Category Product Area =================-->

{% endblock %}